name: fast_testing

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        tarantool:
          - '2.11'

    runs-on: ubuntu-latest
    steps:
      - name: Install tarantool ${{ matrix.tarantool }}
        uses: tarantool/setup-tarantool@v4
        with:
          tarantool-version: ${{ matrix.tarantool }}

      - name: Clone the module
        uses: actions/checkout@v5
        with:
          submodules: true

      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'tests/requirements.txt'

      - name: Start Kafka
        uses: ybyzek/cp-all-in-one-action@v0.2.1
        with:
          type: cp-all-in-one-community

      - name: Install Python dependencies
        run: pip install -r tests/requirements.txt

      - name: Build module
        run: |
          export MAKEFLAGS=-j8
          tarantoolctl rocks STATIC_BUILD=ON make

      - name: Run tarantool application
        run: TT_LOG=tarantool.log tarantool tests/app.lua > output.log 2>&1 &

      - name: Run test
        run: KAFKA_HOST=localhost:9092 pytest tests

      - name: Print Tarantool logs
        if: always()
        run: |
          cat tarantool.log
          cat output.log
