name: Publish

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:

jobs:
  version-check:
    # We need this job to run only on push with tag.
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-22.04
    steps:
      - name: Check module version
        uses: tarantool/actions/check-module-version@master
        with:
          module-name: 'kafka'
          rock-make-opts: 'STATIC_BUILD=ON'

  publish-scm-1:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: tarantool/rocks.tarantool.org/github-action@master
        with:
          auth: ${{ secrets.ROCKS_AUTH }}
          files: kafka-scm-1.rockspec

  publish-tag:
    if: startsWith(github.ref, 'refs/tags/')
    needs: version-check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: tarantool/setup-tarantool@v4
        with:
          tarantool-version: '2.11'
      # Make a release
      - run: echo TAG=${GITHUB_REF##*/} >> $GITHUB_ENV
      - run: tarantoolctl rocks new_version --tag ${{ env.TAG }}
      - run: tarantoolctl rocks pack kafka-${{ env.TAG }}-1.rockspec

      - uses: tarantool/rocks.tarantool.org/github-action@master
        with:
          auth: ${{ secrets.ROCKS_AUTH }}
          files: |
            kafka-${{ env.TAG }}-1.rockspec
            kafka-${{ env.TAG }}-1.src.rock
